/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

/* Навигация */
.navbar {
    background-color: #111;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 1.8rem;
    color: #4cafed;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #4cafed;
}

/* Главная секция с 3D-моделью */
.main-section {
    text-align: center;
    padding: 2rem 1rem;
}

.main-heading {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.main-subheading {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #666;
}

.product-3d {
    width: 50%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Кнопки действий */
.cta-buttons {
    margin-top: 1.5rem;
}

.cta-btn {
    background-color: #4cafed;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;
}

.cta-btn:hover {
    background-color: #333;
}

.screenshot {
    width: 100%;        /* Сделаем скриншоты адаптивными */
    max-width: 300px;   /* Ограничим максимальную ширину скриншотов до 300px */
    margin: 1rem;       /* Добавим немного пространства вокруг изображения */
    border-radius: 10px; /* Добавим плавные углы для эстетики */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень для выделения */
}

/* Мобильная версия */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }

    .navbar a {
        padding: 1rem;
        text-align: center;
    }

    .team-members {
        flex-direction: column;
    }

    .member {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .product-3d {
        width: 80%;
    }
}

